{% extends "base.html" %}
{% block content %}

<div class="col-md-11"><h2>{{ project.jobnumber }} - {{ project.projectname }} - {{ ecology.documenttype }}</h2></div>
<div class="col-md-1"><a class="btn btn-default" href="{% url 'ecology_edit' project.id ecology.id %} "><span class="glyphicon glyphicon-pencil"></span></a></div>
<div class="row">
	<div class="col-md-8">
		<div class="col-md-3">
			<div class="row">
				<div class="col-md-12"><h4><b>Document Type</b></h4>{{ ecology.documenttype }}</div>
				<div class="col-md-12"><h4><b>Title</b></h4>{{ ecology.title }}</div>
				<div class="col-md-12"><h4><b>Specialist</b></h4>{{ ecology.specialist }}</div>
				<div class="col-md-12"><h4></h4></div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="row">
				<div class="col-md-12"><h4><b>Draft Submittal</b></h4>{{ ecology.draftsubmittal }}</div>
				<div class="col-md-12"><h4><b>Draft Approval</b></h4>{{ ecology.draftapproval }}</div>
				<div class="col-md-12"><h4><b>Draft Due Date</b></h4>{{ ecology.duedate }}</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="row">
				<div class="col-md-12"><h4><b>State Approval</b></h4></div>
				<div class="col-md-12"><h4><b>Federal Approval</b></h4></div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="row">				
				<div class="col-md-12"><h4><b>Air Documents</b></h4>{{ documenttype }}</div>
				<div class="col-md-12"><h4><b>Noise Documents</b></h4>{{ documenttype }}</div>
				<div class="col-md-12"><h4><b>Ecology Documents</b></h4>{{ documenttype }}</div>
				<div class="col-md-12"><h4><b>Aquatics Documents</b></h4>{{ documenttype }}</div>
				<div class="col-md-12"><h4><b>Archaeology Documents</b></h4>{{ documenttype }}</div>
				<div class="col-md-12"><h4><b>History</b></h4>{{ documenttype }}</div>	
			</div>
		</div>
	</div>  
		<div class="col-md-4">
			<div class="col-md-12 pd"><h4><b>Project Description</b></h4> {{ project.projectdescription }}</div>
			<div class="col-md-12"><h4><b>Comments</b></h4>{{ project.comments }}</div>
		</div>  
	</div>
</div>
<!--<div class="col-md-4"><h4>Air</h4> {% for ecology in project.ecology_set.all %} {{ ecology }} {% endfor %}</div>-->
{% endblock %}