{% extends "base.html" %}
{% block content %}
<h1>EPEI Project Tracking</h1>
<div id="search_float">
<form method="POST">
	<input name="project_text" id="id_search" placeholder="Search for project" />
	{% csrf_token %}
</form>
</div>
<form action="add/">
	<button type="submit" id="id_add">Add Project </button>
</form>
<table id="id_project_table" class="table table-bordered">
	<tr>
		<td>Job Number</td>				

		<td>Project Name</td>
		<td>Project Number</td>
		<td>PI Number</td>
		<td>Project Manager</td>
		<td>County</td>
	{% for project in project_list %}
	</tr>
		<td> <a href='{{ project.id }}/'>{{ project.jobnumber }}</td>
			
		<td> {{ project.projectname }}</td>
		<td> {{ project.nepa_specialist }} </td>
		<!-- <td> {{ project.pinumber }} </td> -->
		<td> {{ project.projectmanager }} </td>
		<td> {{ project.county }} </td>
	</tr>
	{% endfor %}
</table>
{% endblock %}