{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-9"><a href="{% url 'add' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
  </div>
   <div class="col-md-3" > 
   	<form method="POST">
   	{% csrf_token %}
   	{{planner_form}}
   	<input type='submit' value='Filter'/>
   </form>
  </div>

<table id="id_project_table" class="table table-bordered">
	<tr>
		<td>Job Number</td>				
		<td>Project Name</td>
		<td>Project Manager</td>
		<td>State Draft Submittal</td>
		<td>FHWA Draft Submittal</td>
		<td>State Draft Due In</td>
		<td>FHWA Draft Due In</td>
	{% for project in project_list %}
	</tr>
		<td> <a href='{{ project.id }}/'>{{ project.jobnumber }}</td>			
		<td> {{ project.projectname }}</td>
		<td> {{ project.projectmanager }} </td>
		<td>{% for nepadoc in project.nepadocs.all %} {{nepadoc.documenttype}}-{{ nepadoc.statedraft | linebreaks}} {% endfor %}</td>
		<td>{% for nepadoc in project.nepadocs.all %} {{nepadoc.documenttype}}-{{ nepadoc.fhwadraft | linebreaks }} {% endfor %}</td>
		<td>{% for nepadoc in project.nepadocs.all %} {{nepadoc.documenttype}}-{{ nepadoc.statedraft_due_in | linebreaks }} {% endfor %}</td>
		<td>{% for nepadoc in project.nepadocs.all %} {{nepadoc.documenttype}}-{{ nepadoc.fhwadraft_due_in | linebreaks }} {% endfor %}</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}