{% extends "base.html" %}
{% block content %}

<div class="col-md-11"><h2>{{ project.jobnumber }} - {{ project.projectname }}</h2></div>
<div class="col-md-1"><a class="btn btn-default" href="{% url 'project_edit' project.id %}"><span class="glyphicon glyphicon-pencil"></span></a></div>
<div class="row">
	<div class="col-md-8">
		<div class="col-md-3">
			<div class="row">
				<div class="col-md-12"><h4><b>Client</b></h4> {{ project.client }}</div>
				<div class="col-md-12"><h4><b>Project Manager</b></h4> {{ project.projectmanager }}</div>
				<div class="col-md-12"><h4><b>County</b></h4> {{ project.county }}</div>
				<div class="col-md-12"><h4><b>District</b></h4> {{ project.gdot_district }}</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="row">
				<div class="col-md-12"><h4><b>PI Number(s)</b></h4> {% for pi in project.pis.all %} {{ pi | linebreaks }} {% endfor %}</div>
				<div class="col-md-12"><h4><b>Project Number(s)</b></h4> {% for pn in project.projectnumbers.all %} {{ pn | linebreaks }} {% endfor %}</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="row">
				<div class="col-md-12">
					<h4><b>Environmental Documents</b></h4>
					{% if project.nepa_set.all %}
					{% for nepadoc in project.nepa_set.all %} <b><a href="{% url 'nepa_dash' project.id nepadoc.id %}"> {{ nepadoc | linebreaks }} </a></b> {% endfor %}
					{% else %}					
					<br>
					{% endif %}
					<i><a href="{% url 'nepa_add' project.id %} ">Add Environmental Document</a></i>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="row">				
				<div class="col-md-12">
					<h4><b>Air Documents</b></h4>
					{% if project.air_set.all %}
					{% for airdoc in project.air_set.all %} <b><a href="{% url 'air_dash' project.id airdoc.id %}"> {{ airdoc | linebreaks }} </a></b> {% endfor %}
					{% else %}					
					<br>
					{% endif %}
					<i><a href="{% url 'project_add' project.id %} ">Add Air Document</a></i>
				</div>
				<div class="col-md-12"><h4><b>Noise Documents</b></h4>{{ documenttype }}</div>
				<div class="col-md-12"><h4><b>Ecology Documents</b></h4>{{ documenttype }}</div>
				<div class="col-md-12"><h4><b>Aquatics Documents</b></h4>{{ documenttype }}</div>
				<div class="col-md-12"><h4><b>Archaeology Documents</b></h4>{{ documenttype }}</div>
				<div class="col-md-12"><h4><b>History</b></h4>{{ documenttype }}</div>	
			</div>
		</div>
	</div>  
		<div class="col-md-4">
			<div class="col-md-12"><h4><b>Project Description</b></h4> {{ project.projectdescription }}</div>
			<div class="col-md-12"><h4><b>Comments</b></h4> {{ project.comments }}</div>
		</div>  
	</div>
</div>
<!--<div class="col-md-4"><h4>Air</h4> {% for air in project.air_set.all %} {{ air }} {% endfor %}</div>-->
{% endblock %}