/*@import "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css";*/
@import url(https://fonts.googleapis.com/css?family=Quattrocento);

html, body{
    height:100%;		/* For full height images */
	font-family: 'Quattrocento', serif;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

.alert {
    margin-top: 55px;
    margin-bottom: 0;
}

#id_project_table {
	text-align: center;
}

#search_float {
	float: right;
}

.navbar {
  min-height: 80px;
}

#map-container {
    height: 400px;
}

